@model BotEventManagement.Models.API.SpeakerRequest

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAfterEvent.cshtml";
}

<h1>Detalhes da atração - @Model.Name</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Biography)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Biography)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UploadedPhoto)
        </dt>
        <dd class="align-left col-sm-10">
            <input type="image" class="image-size rounded mx-auto d-block" src="@Model.UploadedPhoto" alt="@Model.Name" />
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-success" asp-area="" asp-controller="Speaker" asp-action="Edit" asp-route-id="@Model.SpeakerId">Editar Palestrante</a>
    <a class="btn btn-info" asp-area="" asp-controller="Speaker" asp-action="Index" asp-route-id="@TempData.Peek("EventId").ToString()">Voltar a Lista</a>
</div>
