@model BotEventManagement.Models.API.ActivityResponse

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalhes da Atração - @Model.Name</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2 align-right">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2 align-right">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2 align-right">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2 align-right">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2 align-right">
            @Html.DisplayNameFor(model => model.SpeakerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SpeakerName)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-success" asp-area="" asp-controller="Speaker" asp-action="Edit" asp-route-id="@Model.SpeakerId">Editar Palestrante</a>
    <a class="btn btn-info" asp-area="" asp-controller="Speaker" asp-action="Index" asp-route-id="@TempData.Peek("EventId").ToString()">Voltar a Lista</a>
</div>
